{% load staticfiles %}

<script>
    // chatbox.html
    $(document).ready(function() {
    $(".submit-comment").click(function (event) {
        event.preventDefault();
        var formData = $(this).parent(".comment-form").serialize();
        var $form = $(this).parent(".comment-form");
        var image = $(this).siblings('.image-field').children("#image").val();
        var text = $(this).siblings("#text").val();
        var type = $(this).siblings(".type").val();
        console.log(formData);
        if (image) {
            alert("Need to reload to be able to save image");
            $(this).parent(".comment-form").submit();

        } else if (text === "") {
            alert("Post not posted. Add a picture or a post");
        } else {
            $.ajax({
                type: "POST",
                url: "{% url 'chat:post_comment' %}",
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (type === "private") {
                        newPost = '<div class="thumbnail user-message" style="float: right;">';
                        newPost += '<div class="caption"><h3>';
                        newPost += '<img src="{{ user.picture.url }}" class="profile_pic"/>';
                        newPost += ' Post <small> from <a href="" class="name">{{ user }}</a>';
                        newPost += '</small></h3>';
                        newPost += '<p>' + data.comment + '</p>'
                        newPost += '<p></p>';
                    } else {
                        $form.css("display", "none");
                        var newPost = '<p><img src="{{ user.picture.url }}" class="profile_pic"/> ';
                        newPost += '<a href="" class="name">{{ user }}</a>';
                        newPost += ' ' + data.comment + '</p>';
                    }
                    $form.siblings(".new-post").prepend(newPost);
                    $form.siblings("p").children(".reply").css("display", "inline");

                },
                error: function (error) {
                    alert(error.status + ": " + error.statusText);
                    $(this).parent(".comment-form").submit();
                }
            });


        }
    });


    // comment_loop.html
    $(".like-unlike-form").submit(function (event) {
        // likes and likes posts
        event.preventDefault();
        var data = $(this).serialize();
        $.ajax({
            type: "POST",
            data: data,
            url: "{% url 'chat:like/unlike' %}",
            success: function (data) {
                alert("This is a flash message: " + data.flash_message);
                if (data.likes > 0) {
                    console.log(data.post_pk + '  ' + data.likes);
                    $("#like-form-"+data.post_pk).siblings(".likes").css("display", "inline").text(data.likes + " likes");
                } else {
                    $("#like-form-"+data.post_pk).siblings(".likes").text("");
                }
            },
            error: function (error) {
                alert("didn't work");
                console.log(error.status + ": " + error.statusText);
                // $(".like-unlike-form").submit();       This will recall this function again and again making a never ending loop
            }
        })
    });

    $('.share-form').submit(function (event) {
        // s ahres the post
        event.preventDefault();
        var data = $(this).serialize();
        $.ajax({
            type: "POST",
            data: data,
            url: "{% url 'chat:share' %}",
            success: function (data) {
                alert("Shared");
                $("#share-form-" + data.post_pk).css("display", "none");
                var newText = "<h5>";
                newText += '<img src="{{ user.picture.url }}" class="profile_pic"/>';
                newText += '<a href="" class="name">{{ user }}</a> shared <strong>' + data.post_title + '</strong>';
                newText += "</h5>";
                alert(newText);
                $("#new-ajax-sharer-" + data.post_pk).html(newText);
            },
            error: function (error) {
                alert(error.status + ": " + error.statusText);
                // $(".share-form").submit();
            }
        });
    });


        // friends.hyml - find_friends.html
        $(".friend_request").click(function(event) {
            event.preventDefault();
            var numbbb = $(this).siblings(".pk").val();
            var data = {
                friend: numbbb,
            };
            $.ajax({
                type: "GET",
                url: "{% url 'chat:friend_request' %}",
                data: data,
                success: function (data) {
                    $("#friend_" + numbbb + " .friend_request").fadeOut();
                    message = "Friend Request sent!";
                    $("#friend-request-" + numbbb).html(message);
                    $("#friend_" + numbbb).css({'color': 'chocolate'});
                },
                error: function (responce, error) {
                    alert("Didn' t Go");
                    $("#friend_" + numbbb).submit();
                }

            })

        });


        // messages.html
        $(".message_seen").click(function(event) {
            event.preventDefault();
            var numbbb = parseInt($(this).prevAll(".message_pk").val());
            var data = {
                message_pk: numbbb,
            };
            $.ajax({
                type: "GET",
                url: "{% url 'chat:message_seen' %}",
                data: data,
                success: function (data) {
                    $("#message_" + numbbb).parents(".message_box").fadeOut();
                    $("#message-box-" + numbbb).fadeOut();
                },
                error: function (responce, error) {
                    alert("Didn' t Go");
                    $("#message_" + numbbb).submit();
                }

            })
        });


        $(".confirm_friend").click(function(event) {
            event.preventDefault();
            var numbbb = parseInt($(this).prevAll("input[type='hidden']").val());
            var data = {
                message_pk: numbbb,
            };
            alert(numbbb);
            $.ajax({
                type: "GET",
                url: "{% url 'chat:confirm_friend' %}",
                data: data,
                success: function (data) {
                    $("#friend_request_" + numbbb).fadeOut();
                },
                error: function (responce, error) {
                    alert("Didn' t Go");
                    $("#friend_request_" + numbbb).submit();
                }

            })

        });
    });
</script>