{% extends "layout.html" %}

{% load template_func %}

{% block title %}ChatBox{% endblock %}

<script>
{% block javascript %}



{% endblock %}
</script>

{% block content %}

    <div class="col-sm-8 col-sm-offset-3">

        <form id="post-form" method="POST" action="" enctype="multipart/form-data">
            <p id="title">{{ form.title }}</p>
            <p id="image">{{ form.image }}</p>
            <p id="text">{{ form.text }}</p>
            <p id="share">{{ form.share }}</p>
            <input id="only-me" type="text" placeholder="share with" name="share_with"style="display: none">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" id="submit-post" value="Post">
        </form>
        <a href="{% url 'chat:chat' %}" class="btn btn-primary" id="more-post" style="display: none">Post More</a>
        <br/><br/>

        <div class="row">
            <h3 id="new-post"></h3>
            {% for post in posts %}
                {% post_filter post user friends as post_good %}
                {% if post_good %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>{{ private_friends }}</h2>
                                    <h3>
                                        <img src="{{ post.user.picture.url }}" class="profile_pic"/>
                                        {{ post.title }}
                                        <small> from <a href="" class="name">{{ post.user }}</a>
                                            {{ post.time_posted|timesince }} ago
                                        </small>
                                    </h3>
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="img-responsive"/>
                                    {% endif %}
                                    <p class="post-text" style="">{{ post.text|linebreaks }}</p>
                                    <p>
                                        <small>{{ post.share }}{% if post.share == "Private Message" %} to: <strong>{{ user }}</strong>{% endif %}</small>
                                        <button class="reply" style="display: none;">Reply</button>
                                    </p>
                                    <p class="likes" {% if post.amount_likes < 1 %}style="display: none"{% endif %}>
                                        {{ post.amount_likes }} likes
                                    </p>
                                    <form method="post" class="like-unlike-form" id="like-form-{{ post.pk }}" action="{% url 'chat:like/unlike' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ post.pk }}">
                                        <input type="submit" value="Like/unlike">
                                    </form>
                                    {% for sharer in post.users.all %}
                                        {% if sharer.id in friends and sharer != user %}
                                        <h5>
                                            <img src="{{ sharer.picture.url }}" class="profile_pic"/>
                                            <a href="" class="name">{{ sharer }}</a> shared <strong>{{ post.title  }}</strong>
                                        </h5>
                                        {% endif %}
                                    {% endfor %}
                                    <div id="new-ajax-sharer-{{ post.pk }}"></div>
                                    {% share_button_filter post user as shared %}
                                    {% if shared %}
                                    <form method="post" class="share-form" id="share-form-{{ post.pk }}" action="{% url 'chat:share' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ post.pk }}">
                                        <input type="submit" value="Share">
                                    </form>
                                    {% endif %}

                                    <form class="comment-form" id="comment-form-{{ post.pk }}" method="POST" action="{% url 'chat:post_comment' %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {#                        <div class="form-group">#}
                                        <input type="text" name="text" id="text" placeholder="text"
                                               value="{{ request.GET.text }}"/>

                                        <div class="image-field">
                                            {# // where image input will be placed in jquery code#}
                                        </div>
                                        <button class="btn-danger hidden-items image-link">X</button>
                                        <button class="btn-info image-link" id="image-button"><i
                                                class="fa fa-camera-retro fa-1.5x image-link" aria-hidden="true"></i>
                                        </button>
                                        <input type="hidden" id="pk" name="pk" value="{{ post.pk }}">

                                        <input type="submit" class="btn btn-primary submit-comment" value="Comment"/>

                                    </form>
                                    <div id="new-post-{{ post.pk }}"></div>
                                    {% has_comments post 2 as comments %}
                                    {% if comments %}
                                        {% comments_list comments %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
            </div>
        </div>
    </div>
{% include "chat/ajax.html" %}
{% endblock %}