{% load template_func %}

<script>
    {% block javascript %}
        var nuzz = "";
        //var amount = $(this).next().val();
        //amount -= 5;
        {% for comment in comments|slice:"1" %}
            nuzz = "{{ comment.distance_from_sourse }}";
        {% endfor %}
        var index = (10 * parseInt(nuzz)) - 10;
        $(".iii").css("padding-left", index + "%");

        $(".more-comments").click(function() {
            // TODO: Fix bug that the button reveals comments on the post below it
            // TODO: Make that button doesnt reveal all comments on a posific comment
            // TODO: Implement that button only reveals the next 10 comments and than 10 after
            {% for comment in comments %}
                $("#iii-"+{{ comment.pk }}).css("display", "block").css("padding-left", index + "%");
            {% endfor %}
            $(this).hide();
        });
    {% endblock %}
</script>

{% last_5_comments comments as last_5 %}
{% if comments|length > 5 %}
    <button class="btn-warning more-comments">{{ comments|length }} More Comments</button>
    <input type="hidden" class="length" value="{{ comments|length }}">
    <input type="hidden" class="length2" value="{{ comments|length }}">
{% endif %}
{% for comment in comments %}
    <div class="iii" id="iii-{{ comment.pk }}" {% if comment not in last_5 %}style="display: none"{% endif %}>
        <input type="hidden" class="iii-pk" value="{{ comment.pk }}">
    <div class="post">

        <p>
            <img src="{{ comment.user.picture.url }}" class="profile_pic"/>
            <a href="" class="name">{{ comment.user }}</a> {{ comment.text }}
            {% if not comment.image %}
                <button class="reply">Reply</button>
{#                <button class="like-button">Like/Unlike</button>#}

            {% endif %}
        </p>
        {% if comment.image %}
            <img src="{{ comment.image.url }}" class="img-responsive"/>
            <p>
{#                <button class="like-button">Like/Unlike</button>#}
                <button class="reply">Reply</button>
            </p>
        {% endif %}

        <p class="likes" style="display: none">{{ comment.amount_likes }} likes </p>
        <form method="post" class="like-unlike-form" id="like-form-{{ comment.pk }}"
              action="{% url 'chat:like/unlike' %}">
            {% csrf_token %}
            <input type="hidden" name="pk" class="pk" value="{{ comment.pk }}">
            <input type="hidden" name="like-amount" class="like-amount" value="{{ comment.amount_likes}}">
            <input type="submit" class="like" value="Like/unlike">
        </form>

        {#    <p><a href="{% url 'chat:comment' pk=comment.pk %}" class="btn btn-primary" role="button">Reply</a>#}
        <form class="form-inline comment-form reply-form" id="comment-form-{{ comment.pk }}" method="POST"
              action="{% url 'chat:post_comment' %}"
              enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="text" name="text" id="text" placeholder="text"
                   value="{{ request.GET.text }}"/>
            <div class="image-field">
                {# // image input goes here added in jquery when press the camera button #}
            </div>
            <button class="btn-danger hidden-items image-link">X</button>
            <button class="btn-info image-link" id="image-button">
                <i class="fa fa-camera-retro fa-1.5x image-link" aria-hidden="true"></i>
            </button>
            <input type="hidden" name="pk" id="pk" value="{{ comment.pk }}">
            <input type="submit" class="btn btn-primary submit-comment" value="Reply"/>
        </form>
    </div>


        {% new_distance comment.distance_from_sourse as distance %}
        {% has_comments comment distance as comments %}
        {% if comments %}

            <button class="btn-info show_replies">Show replies</button>


            <div class="hidden-items">
                <button class="btn-success hide-replies">Hide replies</button>
                {% comments_list comments %}
            </div>
        {% endif %}
    </div>
{% endfor %}
