{% load template_func %}

<script>
    {% block javascript %}
        var nuzz= "";
        {% for comment in comments|slice:"1" %}
            nuzz = "{{ comment.distance_from_sourse }}";
        {% endfor %}
        var index = (10 * parseInt(nuzz)) - 10;
        $(".iii").css("padding-left", index +"%");
    {% endblock %}
</script>

{% for comment in comments %}
    <div class="iii">
        <p><img src="{{ comment.user.picture.url }}" class="profile_pic"/>
            <a href="" class="name">{{ comment.user }}</a> {{ comment.text }}
            {% if not comment.image %}
                <button class="reply">Reply</button>
                <form method="post" class="like-unlike-form" id="likes-form-{{ comment.pk }}" action="{% url 'chat:like/unlike' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ comment.pk }}">
                    <input type="submit" value="Like/unlike">
                </form>
            {% endif %}
        </p>
        {% if comment.image %}
            <img src="{{ comment.image.url }}" class="img-responsive"/>
            <p>
                <form method="post" class="like-unlike-form" id="likes-form-{{ comment.pk }}" action="{% url 'chat:like/unlike' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ comment.pk }}">
                    <input type="submit" value="Like/unlike">
                </form>
                <button class="reply">Reply</button>
            </p>
        {% endif %}
        {#    <p><a href="{% url 'chat:comment' pk=comment.pk %}" class="btn btn-primary" role="button">Reply</a>#}
        <form class="form-inline comment-form reply-form" method="POST" action="{% url 'chat:post_comment' %}"
              enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="text" name="text" id="text" placeholder="text"
                   value="{{ request.GET.text }}"/>
            <div class="image-field">
                {# // image input goes here added in jquery when press the camera button #}
            </div>
            <button class="btn-danger hidden-items image-link">X</button>
            <button class="btn-info image-link" id="image-button">
                <i class="fa fa-camera-retro fa-1.5x image-link" aria-hidden="true"></i>
            </button>
            <input type="hidden" name="pk" id="pk" value="{{ comment.pk }}">
            <input type="submit" class="btn btn-primary submit-comment" value="Reply"/>
        </form>



        {% new_distance comment.distance_from_sourse as distance %}
        {% has_comments comment distance as comments %}
        {% if comments %}

            <button class="btn-info show_replies">Show replies</button>


            <div class="hidden-items">
                <button class="btn-success hide-replies">Hide replies</button>
                {% comments_list comments %}
            </div>
        {% endif %}
    </div>
{% endfor %}