{% extends 'chat/friends.html' %}

<script>
    {% block javascript %}
    {% endblock %}
</script>

{% block title %}Find Friends{% endblock %}

{% block friend_request %}
    <form id="friend_{{ friend.pk }}" method="GET" href="{% url 'chat:friend_request' %}">
        <input  type="hidden" name="friend" value="{{ friend.pk }}" >
        {% if friend == user  %}
            <h4 style="color: chocolate">This is you!</h4>
        {% elif friend in your_friends%}
            <h4 style="color: red">This is your friend allready!</h4>
        {% else %}
            <input type="submit" class="btn btn-primary friend_request"  role="button" value="Make Friend Request!">
            <h4 id="message_{{ friend.pk }}" style="color: chocolate"></h4>
        {% endif %}
    </form>
{% endblock %}