{% extends 'layout.html' %}

{% block title %}Your Friends{% endblock %}

{% block content %}
    <div class="row">
    {% if friends|length == 0 %}
        <div class="col-sm-8">
        <div class="thumbnail">
            <div class="friends-no">
        <p>We couldn't find anything for <strong>{{ search }}</strong></p>
        <p>Looking for people or posts? Try entering a name, location, or different words.</p>
            </div>
        </div>
        </div>
    {% endif %}
    <p>You have <strong>{{ users_friends }}</strong> friends</p>
    {% for friend in friends %}
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <img src="{{ friend.picture.url }}" class="img-responsive" />
                    <a href="{% url 'chat:friend_detail' pk=friend.pk%}"><h1>{{ friend }}</h1></a>
                    <p>Phone number: {{ friend.phone }}</p>
                    <p>Email: {{ friend.email }}</p>
                    <p>Gender: {{ friend.gender }}</p>
                    <p>Birthday: {{ friend.birthday }}</p>
                    {% block friend_request %}{% endblock %}
                    <script>
                        // TODO: Theres a bug that when button pressed it gets 404
                        // TODO: if search returns nothing return message that we couldnt find friend
                    </script>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "chat/ajax.html" %}
{% endblock %}