{% extends "layout.html" %}

{% load template_func %}

<script>
{% block javascript %}
    $(".respond").click(function() {
        $respondForm =  $(this).siblings(".respond-form");
        if ($respondForm.css("display") == "none") {
            $(this).html("Hide Form");
            $respondForm.show();
        } else {
            $(this).html("Respond");
            $respondForm.hide();
        }
    });
{% endblock %}
</script>

{% block title %}Messages{% endblock %}

{% block content %}

    {% who_sent_messages private_messages  as messages_from %}
        {% for username, messages in messages_from.items %}
                <form method="get" action="{% url 'chat:messages_by_user' %}">
                <input type="hidden" name="username" value="{{ username }}">
                <h3><input class="bg-success" type="submit" value="{% if messages > 0 %}{{ messages }}{% else %}No new{% endif %} message{% if messages != 1 %}s{% endif %} from {{ username }}"></h3>
                </form>

        {% endfor %}
        <h3 ><button class="bg-success"><a href="{% url 'chat:friends' %}" >See other messages</a></button></h3>
        <div class="message-link-seperator">

        {% if user_messages %}
            {% for message in friend_request %}
                {% include "chat/message_loop.html" %}
            {% endfor %}
            {% for message in friend_accepted %}
                {% include "chat/message_loop.html" %}
            {% endfor %}
            {% for message in user_messages %}
                {% include "chat/message_loop.html" %}

            {% endfor %}

        {% elif messages_from  %}{% else %}
            <h3> Sorry no messages</h3>
        {% endif %}
        </div>

    {% include "chat/ajax.html" %}
{% endblock %}