{% extends "layout.html" %}

<script>
    {% block javascript %}
        $(".message_seen").click(function(event) {
            event.preventDefault();
            var numbbb = parseInt($(this).prevAll(".message_pk").val());
            var data = {
                message_pk: numbbb,
            };
            alert(numbbb);
            $.ajax({
                type: "GET",
                url: "{% url 'chat:message_seen' %}",
                data: data,
                success: function (data) {
                    alert("Went well");
                    $("#message_" + numbbb).fadeOut();
                },
                error: function (responce, error) {
                    alert("Didn' t Go");
                    $("#message_" + numbbb).submit();
                }

            })

        });

        $(".confirm_friend").click(function(event) {
            event.preventDefault();
            var numbbb = parseInt($(this).prevAll("input[type='hidden']").val());
            var data = {
                message_pk: numbbb,
            };
            alert(numbbb);
            $.ajax({
                type: "GET",
                url: "{% url 'chat:confirm_friend' %}",
                data: data,
                success: function (data) {
                    alert("Went well");
                    $("#friend_request_" + numbbb).fadeOut();
                },
                error: function (responce, error) {
                    alert("Didn' t Go");
                    $("#friend_request_" + numbbb).submit();
                }

            })

        });
    {% endblock %}
</script>

{% block title %}Messages{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">

        {%  if messages %}
        {% for message in messages %}


                {% if message.title == "Friend Request" %}
                    <form id="friend_request_{{ message.pk }}" method="get" action="{% url 'chat:confirm_friend'%}">
                        <div class="thumbnail">
            <div class="caption">
                        <input type="hidden" class="message_pk" value="{{ message.pk }}" name="message_pk">
                        <h3>Friend Request from {{ message.from_user }}</h3>
                        <p>{{ message.from_user }} requested that you should be his friend. BY accepting You will see all his chats and he will yours</p>
                        <input type="submit" class="btn btn-primary confirm_friend" role="button" value="Accept Friend Reqeust!">
                    </div>
                            </div>
                    </form>
                {% elif message.title == "Friend Accepted" %}
                    <form id="message_{{ message.pk }}" method="get" action="{% url 'chat:message_seen'%}">
                    <div class="thumbnail">
            <div class="caption">
                        <input type="hidden" class="message_pk" value="{{ message.pk }}" name="message_pk">
                        <h3>Friend Request accepted from {{ message.from_user }}</h3>
                        <p>{{ message.from_user }} accepted your friend requested. Now you will see all his chats and he will see yours.</p>
                        <input type="submit" class="btn btn-primary message_seen" role="button" value="X">
                </div>
                        </div>
                    </form>
                {% endif %}
        {% endfor %}
        {% else %}
            <h3> Sorry no messages</h3>
        {% endif %}
    </div>
{% endblock %}