.profile_pic {
    width: 50px;
    height:50px;
    border: 1px;
    background-color: darkred;
    border-radius: 10%;
}

.hidden-items {
    display: none;
}

.name {
    font-weight: bold;
}

.chocolate {
    background: chocolate;
}

.post-text {
    position: fixed;
    left: 50%;
}

.comment-form {
    display: inline;
}

div.fileinputs {
	position: relative;
}

.name {
    font-weight: bold;
}

div.fakefile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.reply-form {
    display: none;
}